.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    min-height: 50px;
    background: lightgreen;
}
.header a{
    text-decoration: none;
    cursor: pointer;
    font-size: 50px;
}

.header a[class='active']{
    color: lightcoral;
}
